<h1>Register</h1>
<form action="/register" method="post">
    <section>
        <label for="name">Name</label>
        <input id="name" name="name" type="name" autocomplete="Name" required autofocus>
    </section>
    <section>
        <label for="username">Email</label>
        <input id="username" name="username" type="email" autocomplete="Username" required autofocus>
    </section>
    <section>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" autocomplete="password" required>
    </section>
    <section>
        <a href='/login'>Login</a>
    </section>
    
    <button type="submit">Register</button>
</form>